.output {
  display: none;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#background {
  z-index: -1000;
}

#humidity,
#wind,
#precipitation,
#condition {
  font-size: 8px;
}

#temp-feels {
  font-size: 10px;
  font-weight: bold;
  margin-top: -5px;
}

#time {
  font-size: 10px;
  font-weight: bold;
}
